.content {
    padding: 7rem 0;
}
.content a {
    color: #888;
    text-decoration: underline;
}
@media (max-width: 991.98px) {
    .content .bg {
        height: 500px;
    }
}
.content .contents,
.content .bg {
    width: 50%;
}
@media (max-width: 1199.98px) {
    .content .contents,
    .content .bg {
        width: 100%;
    }
}
.content .contents .form-group,
.content .bg .form-group {
    position: relative;
}
.content .contents .form-group label,
.content .bg .form-group label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.content .contents .form-group input,
.content .bg .form-group input {
    background: transparent;
    border-bottom: 1px solid #ccc;
}
.content .contents .form-group.first,
.content .bg .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.content .contents .form-group.last,
.content .bg .form-group.last {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.content .contents .form-group label,
.content .bg .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3;
}
.content .contents .form-group.focus,
.content .bg .form-group.focus {
    background: #fff;
}
.content .contents .form-group.field--not-empty label,
.content .bg .form-group.field--not-empty label {
    margin-top: -25px;
}
.content .contents .form-control,
.content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0;
}
.content .contents .form-control:active,
.content .contents .form-control:focus,
.content .bg .form-control:active,
.content .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.content .bg {
    background-size: cover;
    background-position: center;
}
.content a {
    color: #888;
    text-decoration: underline;
}
.content .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}
.content .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}
.social-login a {
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}