p {
    color: #b3b3b3;
    font-weight: 300;
}
.form-block {
    background: #fff;
    padding: 60px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 991.98px) {
    .form-block {
        padding: 30px;
    }
}
.social-login a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.social-login a:hover {
    color: #fff;
}
.social-login a.facebook {
    background: #3b5998;
}
.social-login a.facebook:hover {
    background: #344e86;
}
.social-login a.twitter {
    background: #1da1f2;
}
.social-login a.twitter:hover {
    background: #0d95e8;
}
.social-login a.google {
    background: #ea4335;
}
.social-login a.google:hover {
    background: #e82e1e;
}